dash
flask
plotly
numpy
sympy
gunicorn
Brotli
certifi
click
dash-core-components
dash-html-components
dash-renderer
dash-table
Flask-Compress
future
itsdangerous
Jinja2
MarkupSafe
PyYAML
retrying
six
Werkzeug
wincertstore
scipy
